<div class="container p-3 bg-light col-sm-12" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; height: 750px;">
    <h3 class="col-sm-12" style="text-align: center;font-weight: bolder;">USER DETAILS</h3><br><br>
    <div class="row">
      <div class="ps-3 col-sm-6">
        <div style="font-weight: bolder;">First Name :</div>
        <div>{{UserData.firstName}}</div>
      </div>
      <div class="ps-3 col-sm-6">
        <div style="font-weight: bolder;">Last Name :</div>
        <div>{{UserData.lastName}}</div>
      </div>
    </div><br>
    <div class="row">
      <div class="ps-3 col-sm-6">
        <div style="font-weight: bolder;">Email ID :</div>
        <div>{{UserData.email}}</div>
      </div>
      <div class="ps-3 col-sm-6">
        <div style="font-weight: bolder;">Address :</div>
        <div>{{UserData.address}}</div>
      </div>
    </div><br>
    <div class="row">
      <div class="ps-3 col-sm-6">
        <div style="font-weight: bolder;">Role :</div>
        <div>{{UserData.role}}</div>
      </div>
      <div class="ps-3 col-sm-6">
        <div style="font-weight: bolder;">Team Type :</div>
        <div>{{UserData.teamType}}</div>
      </div>
    </div><br>
    <div class="row">
      <div class="ps-3 col-sm-6">
        <div style="font-weight: bolder;">Experience :</div>
        <div>{{UserData.experience}}</div>
      </div>
      <div class="ps-3 col-sm-6">
        <div style="font-weight: bolder;">Date Of joining :</div>
        <div>{{UserData.dateOfJoining}}</div>
      </div>
    </div><br>
    <div class="row">
      <div class="ps-3 col-sm-6">
        <div style="font-weight: bolder;">Previous Organisation :</div>
        <div>{{UserData.previousOrgName}}</div>
      </div>
      <div class="ps-3 col-sm-6">
        <div style="font-weight: bolder;">Current Organisation :</div>
        <div>{{UserData.currentOrgName}}</div>
      </div>
    </div>
    
  </div><br>
